{% extends "base.html" %}

{% block title %}Inicio{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
    ¡Hola {{ user.username }}! Tienes {{ user.age }} años.
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Cerrar Sesión</button>
    </form>
{% else %}
    <p>No has iniciado sesión</p>
    <a href="{% url 'login' %}">Iniciar sesión</a>
    |
    <a href="{% url 'signup' %}">Registrarse</a>
{% endif %}
{% endblock content %}
